.bound {
  margin: 22.5px 10px;
  border-radius: 22.5px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #cbcbcb;

  &.bg-gray {
    background: #e6e6e6;
  }

  &.disabled {
    background: #e6e6e6;

  }
}

ion-input {
  --padding-top: 0;
  --padding-bottom: 0;
  --background: white;

  &.disabled {
    --background: #e6e6e6;
  }
}

ion-icon.search {
  font-size: 16px;
}

ion-icon.close-result {
  position: absolute;
  right: 25px;
  font-size: 16px;
  z-index: 5;
}

ion-icon.scan {
  position: absolute;
  right: 25px;
  font-size: 16px;
  z-index: 5;
}


.CHECKOUT {
  color: #2ecdee;
}

.CHECKIN {
  color: #ff5a5a;
}
