<div class="bound bg-gray" *ngIf="guest">
  <div>{{guest.fullname}}<span class="ion-color-danger">#{{guest.bagtag}}</span></div>
  <ion-icon class="search" name="close-outline" (click)="removeGuest()"></ion-icon>
</div>
<ng-container *ngIf="!guest">
  <div class="bound" [class.disabled]="disabled">
    <ion-icon *ngIf="searchStr" class="close-result" name="close-circle-outline"
              (click)="searchStr = ''; showResult = false;"></ion-icon>
    <ion-icon *ngIf="!searchStr && !disabled" class="scan" name="camera"
              (click)="scanBarcode()"></ion-icon>
    <ion-input [placeholder]="'bagtag' | translate" [class.disabled]="disabled" [disabled]="disabled"
               [(ngModel)]="searchStr" (ngModelChange)="update()"
               (ionFocus)="handleFocus($event)" (ionBlur)="handleBlur()"></ion-input>
  </div>
</ng-container>
<div *ngIf="showResult"
     style="position: absolute; width: 100%; height: calc(100% - 87px); background: white; z-index: 9; overflow: auto">
  <div *ngIf="loading">
    <ion-list>
      <ion-list-header>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </ion-list-header>
      <ion-item>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-item>
      <ion-item>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-item>
      <ion-item>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-item>
      <ion-item>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-item>
      <ion-item>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-item>

    </ion-list>
  </div>
  <div *ngIf="!loading" style="flex: 1; overflow: auto">
    <ion-list style="padding-top: 0" *ngIf="guests.length">
      <ion-list-header>
        <ion-label>{{'list_guest' | translate}}</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let guest of guests" (click)="onClickGuest(guest)" [disabled]="guest.status === 'CHECKOUT'">
        <ion-label><span [class]="guest.status">#{{guest.bagtag}}</span> {{guest.fullname}}</ion-label>
      </ion-item>
    </ion-list>
    <div class="ion-padding" *ngIf="guests.length === 0">
      <i>{{'guest_not_found' | translate}}!</i>
    </div>
  </div>
</div>
