<ion-header>
  <ion-toolbar>
    <ion-title>select-location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" class="ion-padding">
    <ion-item *ngIf="golfClubs">
      <ion-label>Club:</ion-label>
      <ion-select [compareWith]="compareWith" formControlName="golfClub" interface="action-sheet" >
        <ion-select-option *ngFor="let club of golfClubs" [value]="club">{{club.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Location:</ion-label>
      <ion-select [compareWith]="compareWith" formControlName="location" interface="action-sheet" >
        <ion-select-option *ngFor="let location of locations" [value]="location">{{location.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="ion-padding ion-text-right">
      <ion-button color="primary" [disabled]="form.invalid" (click)="handleSave()">Lưu</ion-button>
    </div>
  </form>
</ion-content>
