<ion-app>
  <ion-content [fullscreen]="true">
    <div style="height: 100%; width: 100%; background: white; display: flex; align-items: stretch; overflow: hidden">
      <div
        style="width: 100px;min-width: 100px; background: white; display: flex; flex-direction: column; overflow: hidden">
        <div class="logo" style="height: 100px; background:#184a7b">
        </div>
        <div class="menu" style="flex: 1; overflow: auto">
          <div class="menu-item" *ngFor="let cate of parentCategories">
            <img src="http://placehold.it/100"/>
            {{cate.name}}
          </div>
        </div>
      </div>
      <div style="flex: 1; display: flex; flex-direction: column; min-width: 0; background: #eeedf3">
        <div class="header" style="height: 100px; display: flex; padding: 22.5px">
          <div class="search"
               style="background: white; flex: 1; border-radius: 22.5px; display: flex; align-items: center; padding: 10px 22.5px">
            <div style="border-right: 2px solid black; padding-right: 10px; white-space: nowrap">
              Food & Beverages
            </div>
            <div style="padding-left: 10px; flex: 1">
              <ion-searchbar [placeholder]="'Search for Items'"></ion-searchbar>
            </div>
          </div>
          <button style="margin-left: 22.5px">LAN</button>
          <button style="margin-left: 22.5px" [routerLink]="['/home']">LOCK</button>
        </div>
        <div class="main-content"
             style=" flex: 1; display: flex; align-items: stretch; padding: 10px; overflow: hidden; min-width: 0">
          <div class="order" style="flex: 1; display: flex; flex-direction: column; overflow: hidden; min-width: 0">
            <div class="categories">
              <div class="category-item active">All</div>
              <div class="category-item" *ngFor="let subCate of subCategories">{{subCate.name}}</div>
            </div>
            <div class="items" style="flex: 1; overflow: auto">
              <app-list-products [location]="location"></app-list-products>
            </div>
            <div class="items-pagination"
                 style="display: flex; justify-content: center; align-items: center; padding: 15px">
              <div style="height: 10px; width: 50px; background: #ffcb2a; border-radius: 20%; margin: 7.5px"></div>
              <div style="height: 10px; width: 50px; background: #ffcb2a; border-radius: 20%; margin: 7.5px"></div>
              <div style="height: 10px; width: 50px; background: #ffcb2a; border-radius: 20%; margin: 7.5px"></div>
            </div>
          </div>

          <div class="payment" style="width: 375px; display: flex; flex-direction: column; padding: 15px">
            <div class="payment-header"
                 style="height: 50px; color: #184c7c; display: flex; justify-content: space-between" *ngIf="location">
              <div>
                {{location.name}} | <strong>Table {{table?.code}}</strong>
              </div>
              <button>Bell</button>
            </div>
            <app-payment [table]="table" [golfClub]="golfClub"></app-payment>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-app>
