
ion-content {
  --background: #eeedf3

}

.categories {
  min-height: 50px;
  padding: 12.5px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  width: 100%
}

.category-item {
  margin-right: 22.5px;
  margin-bottom: 7.125px;
  border: 1px solid white;
  min-width: 75px;
  padding: 2px 5px;
  border-radius: 7.125px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #184c7c;
  font-size: 90%;

  &.active {
    background: white;
    border: 0;
  }
}

ion-searchbar {
  --background: transparent;
  --box-shadow: none;
}


.items-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;

  .item-pagination {
    &.active {
      width: 50px;
    }

    transition: width 200ms ease-out;
    height: 10px;
    width: 10px;
    background: #ffcb2a;
    border-radius: 10px;
    margin: 7.5px 0 7.5px 7.5px;
  }
}
