<div style="display: flex; height: 100%; width: 100%; padding: 1rem; overflow: hidden" *ngIf="item">
  <div>
    <img [src]="item.variant.image || 'http://placehold.it/380'" alt="" style="height: 268px; width: 268px">
  </div>
  <div style="flex: 1; margin-left: 2rem; display: flex; flex-direction: column">
    <div>
      <h2 style="margin-top: 0; margin-bottom: 1rem">Name: <strong>{{item.variant.name}}</strong></h2>
    </div>
    <div style="display: flex; flex: 1; min-height: 0">
      <div style="flex: 1; display: flex; flex-direction: column">
        <p style="margin-top: 0">Price:
          <input placeholder="Price" #inputPrice
                 (focus)="markFocus('inputPrice')"
                 style="margin-left: 1rem; height: 2.5rem; border:1px solid #dee2e6 !important; border-radius: 0 !important; padding-left: 10px; padding-right: 10px"
                 type="number" [(ngModel)]="item.variant.price_after_discount"></p>
        <div style="margin-bottom: 1rem;display: flex; align-items: center">
          Quantity:
          <ion-icon class="ion-padding" name="remove-outline" (click)="decrease($event)"></ion-icon>
          <input #inputQty [(ngModel)]="item.quantity" (focus)="markFocus('inputQty')"
                 style="border: 2px solid #dee2e6; display: flex; width: 3rem; height: 2.5rem; text-align: center">

          <ion-icon class="ion-padding" name="add-outline" (click)="increase($event)"></ion-icon>
        </div>
        <div
          style="margin-bottom: 1rem;display: flex; min-height: 0; align-items: stretch; flex: 1; ">
          <div>
            Description:
          </div>
          <textarea #inputDescription [(ngModel)]="item.description" placeholder="Description"
                    (focus)="markFocus('inputDescription')"
                    style="width: 100%; margin-left: 1rem; height: 100%; border: 1px solid #dee2e6"></textarea>
        </div>
      </div>
      <div style="flex: 1; display: flex; flex-direction: column; justify-content: space-between; margin-left: 1rem">
        <div>
          <div style="margin-top: 0; margin-bottom: 1rem; height: 2.5rem; display: flex; align-items: center">
            Discount:
            <input #inputDiscountType [(ngModel)]="item.discount" (focus)="markFocus('inputDiscountType')"
                   style="border: 2px solid #dee2e6; margin-left: 1rem; width: 6rem; height: 2.5rem; text-align: center">
            <div>
              <div (click)="toggleDiscountType($event)"
                   style="border: 2px solid #dee2e6; border-left: 0;  display: flex; align-items: center; justify-content: center; width: 3rem; height: 2.5rem;  ">
                {{item.discount_type === 'FIXED' ? 'VNĐ' : '%'}}
              </div>

            </div>
          </div>

          <div style="margin-top: 0; margin-bottom: 1rem; height: 2.5rem">Guest:
            <span class="ion-color-danger">#107</span> MR. Chang Wook
          </div>
          <div style="margin-top: 0; margin-bottom: 1rem; height: 2.5rem; display: flex; align-items: center">Voucher:
            <div style="margin-left: 1rem">
              <i *ngIf="item.is_voucher">Voucher applied</i>
              <ion-button *ngIf="!item.is_voucher" color="light" (click)="markApplyVoucher()"> Apply voucher
              </ion-button>
            </div>
          </div>
        </div>
        <div class="ion-text-right">
          <ion-button color="danger" fill="outline">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
          <ion-button color="primary">Save</ion-button>
        </div>
      </div>
    </div>
  </div>
</div>
