<!--todo: dùng grid thay vì flex-->
<div style="display: flex; height: 100%; width: 100%; padding: 1rem; overflow: hidden" *ngIf="item">
  <div>
    <img [src]="item.variant.image || 'http://placehold.it/380'" alt="" style="height: 268px; width: 268px">
  </div>
  <div style="flex: 1; margin-left: 2rem; display: flex; flex-direction: column">
    <div>
      <h2 style="margin-top: 0; margin-bottom: 1rem">{{'name' | translate}}:
        <strong>{{currentLang === 'vi' ? item.variant.other_name : item.variant.name}}</strong></h2>
    </div>
    <div style="display: flex; flex: 1; min-height: 0">
      <div style="flex: 1; display: flex; flex-direction: column">
        <div style="margin-bottom: 1rem; display: flex; align-items: center">

          <div class="my-label">{{'price' |  translate}}:</div>
          <input placeholder="Price" #inputPrice
                 (focus)="markFocus('inputPrice')"
                 style="flex: 1;height: 2.5rem; border:2px solid #dee2e6 !important; border-radius: 0 !important; padding-left: 10px; padding-right: 10px"
                 type="number" [(ngModel)]="item.price">
        </div>
        <div style="margin-bottom: 1rem;display: flex; align-items: center">
          <div class="my-label">{{'quantity' | translate}}:</div>
          <ion-icon class="ion-padding" name="remove-outline" (click)="decrease($event)"></ion-icon>
          <input #inputQty [(ngModel)]="item.quantity" (focus)="markFocus('inputQty')"
                 style="margin: 0 1rem;border: 2px solid #dee2e6; display: flex; width: 3rem; height: 2.5rem; text-align: center;border-radius: 0 !important; ">

          <ion-icon class="ion-padding" name="add-outline" (click)="increase($event)"></ion-icon>
        </div>
        <div
          style="margin-bottom: 1rem;display: flex; min-height: 0; align-items: stretch; flex: 1;">
          <div class="my-label">
            {{'description' | translate}}:
          </div>
          <textarea #inputDescription [(ngModel)]="item.description" placeholder="Description"
                    (focus)="markFocus('inputDescription')"
                    style="flex: 1;; height: 100%; border: 2px solid #dee2e6; border-radius: 0 !important; "></textarea>
        </div>
      </div>
      <div style="flex: 1; display: flex; flex-direction: column; justify-content: space-between; margin-left: 1rem">
        <div>
          <div style="margin-top: 0; margin-bottom: 1rem; height: 2.5rem; display: flex; align-items: center">
            <div class="my-label">{{'discount' | translate}}:</div>
            <input #inputDiscountType [(ngModel)]="item.discount" (focus)="markFocus('inputDiscountType')"
                   style="flex:1 ;border: 2px solid #dee2e6; width: 6rem; height: 2.5rem; text-align: left; border-radius: 0 !important; padding-left: 1rem">
            <div>
              <div (click)="toggleDiscountType($event)"
                   style="border: 2px solid #dee2e6; border-left: 0;  display: flex; align-items: center; justify-content: center; width: 3rem; height: 2.5rem;  ">
                {{item.discount_type === 'FIXED' ? 'VNĐ' : '%'}}
              </div>

            </div>
          </div>

          <div style="margin-top: 0; margin-bottom: 1rem; height: 2.5rem; display: flex; align-items: center">
            <div class="my-label">
              {{'guest' | translate}}:
            </div>
            <input *ngIf="!item.guest"
                   #inputBagtag
                   (focus)="markFocus('inputBagtag')"
                   [(ngModel)]="keyBagtag"
                   style="flex: 1;border: 2px solid #dee2e6; height: 2.5rem; text-align: left; border-radius: 0 !important; padding-left: 1rem ">
            <div *ngIf="item.guest"
                 style="flex: 1;display: flex; align-items: center; padding-left: 1rem;
                 ;border: 2px solid #dee2e6; height: 2.5rem; text-align: left; border-radius: 0 !important; width: 100%">
              <span
                style="color: #ff858b; margin-right: 0.25rem">#{{item.guest.bagtag}}</span> {{item.guest.customer || item.guest.fullname}}
            </div>
            <div *ngIf="!item.guest"
                 style="border: 2px solid #dee2e6; border-left: 0;  display: flex; align-items: center; justify-content: center; width: 3rem; height: 2.5rem;"
                 (click)="applyBagtag($event)">
              <ion-icon *ngIf="!loadingGuest" name="search-outline"></ion-icon>
              <ion-spinner *ngIf="loadingGuest"></ion-spinner>
            </div>
            <div *ngIf="item.guest"
                 style="border: 2px solid #dee2e6; border-left: 0;  display: flex; align-items: center; justify-content: center; width: 3rem; height: 2.5rem;"
                 (click)="removeGuest()">
              <ion-icon name="close-outline"></ion-icon>
            </div>
          </div>
          <div style="margin-top: 0; margin-bottom: 1rem; height: 2.5rem; display: flex; align-items: center">
            <div class="my-label">
              {{'voucher'| translate}}:
            </div>
            <div style="flex: 1">
              <i *ngIf="item.is_voucher">{{'voucher_applied' | translate}}</i>
              <ion-button *ngIf="!item.is_voucher" color="light" (click)="markApplyVoucher()">
                {{'apply_voucher' | translate}}
              </ion-button>
            </div>
          </div>
        </div>
        <div class="ion-text-right">
          <ion-button color="danger" fill="outline" *ngIf="!item.id" (click)="remove()">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
          <ion-button color="primary" (click)="onClickSave()">{{'save'| translate}}</ion-button>
        </div>
      </div>
    </div>
  </div>
</div>
