<div style="display: flex; flex-wrap: wrap; align-content: flex-start;" *ngIf="loading">
  <div class="item" *ngFor="let i of fakeLength()"
       [ngStyle]="{width: size.itemWidth + 'px', height: size .itemHeight + 'px'}">
    <ion-img [src]="'http://placehold.it/380'"></ion-img>
    <div style="position: absolute; bottom: 0; padding: 0.5rem; width: 100%; background: white; font-size: 70%">
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
    </div>
  </div>
</div>>
<ng-container *ngIf="!loading">
  <div style="display: flex; flex-wrap: wrap; align-content: flex-start;">
    <app-product-item *ngFor="let product of products" [product]="product" [size]="size"></app-product-item>
  </div>
</ng-container>
