.order-item:focus {
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

.submitted {
  .item-name {
    color: #da13a9;
  }
}

.wait-supply {
  .item-name {
    color: #ff8023;
  }
}


.done {
  .item-name {
    color: #72c100;
  }
}
