.items {
  .item {
    width: 190px;
    height: 220px;
    background: white;
    margin: 12.5px;
    border-radius: 11.25px;
  }
}


.category-item {
  width: 75px;
  margin-right: 22.5px;
  border: 4px dashed white;
  min-width: 75px;
  border-radius: 7.125px;

  &.active {
    background: white;
    border: 0;
  }
}


ion-searchbar {
  --background: transparent
}
