<ion-app>
  <ion-content>
    <div style="height: 100%; width: 100%; background: white; display: flex; align-items: stretch">
      <div style="width: 100px; background: white">
        <div class="logo" style="height: 100px; background:#184a7b">
        </div>
        <div class="menu">
          <div class="menu-item">
            <img src="http://placehold.it/100"/>
          </div>
          <div class="menu-item">
            <img src="http://placehold.it/100"/>
          </div>
          <div class="menu-item">
            <img src="http://placehold.it/100"/>
          </div>
          <div class="menu-item">
            <img src="http://placehold.it/100"/>
          </div>
        </div>
      </div>
      <div style="flex: 1; display: flex; flex-direction: column;; background: #eeedf3">
        <div class="header" style="height: 100px; display: flex; padding: 22.5px">
          <div class="search" style="background: white; flex: 1">
          </div>
          <button style="margin-left: 22.5px">LAN</button>
          <button style="margin-left: 22.5px">LOCK</button>
        </div>
        <div class="main-content" style=" flex: 1; display: flex; align-items: stretch; padding: 10px">
          <div class="order" style="flex: 1; display: flex; flex-direction: column">
            <div class="categories" style="height: 50px; display: flex; padding: 12.5px">
              <div class="category-item active"
                   style="width: 75px; height: 30px; margin-right: 22.5px; background: white"></div>
              <div class="category-item"
                   style="width: 75px; height: 30px; margin-right: 22.5px; border: 4px dashed white"></div>
              <div class="category-item"
                   style="width: 75px; height: 30px; margin-right: 22.5px; border: 4px dashed white"></div>
              <div class="category-item"
                   style="width: 75px; height: 30px; margin-right: 22.5px; border: 4px dashed white"></div>
              <div class="category-item"
                   style="width: 75px; height: 30px; margin-right: 22.5px; border: 4px dashed white"></div>
              <div class="category-item"
                   style="width: 75px; height: 30px; margin-right: 22.5px; border: 4px dashed white"></div>
              <div class="category-item"
                   style="width: 75px; height: 30px; margin-right: 22.5px; border: 4px dashed white"></div>
              <div class="category-item"
                   style="width: 75px; height: 30px; margin-right: 22.5px; border: 4px dashed white"></div>
            </div>
            <div class="items" style="flex: 1;">
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>

              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>

              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
            </div>
            <div class="items-pagination"
                 style="display: flex; justify-content: center; align-items: center; padding: 15px">
              <div style="height: 10px; width: 50px; background: #ffcb2a; border-radius: 20%; margin: 7.5px"></div>
              <div style="height: 10px; width: 50px; background: #ffcb2a; border-radius: 20%; margin: 7.5px"></div>
              <div style="height: 10px; width: 50px; background: #ffcb2a; border-radius: 20%; margin: 7.5px"></div>
            </div>
          </div>
          <div class="payment" style="width: 375px; display: flex; flex-direction: column; padding: 15px">
            <div class="payment-header" style="height: 50px">
              Golf Restaurant | <strong>Table H-03</strong>
              <button>Bell</button>
            </div>
            <div class="payment-content" style="background: white; flex: 1; display: flex; flex-direction: column">
              <div></div>
              <div style="flex: 1"></div>
              <div style="padding: 22.5px; ">
                <button style="display: block; width: 100%; height: 50px; font-weight: bold; border-radius: 22.5px ;text-align: center; background: #ffcb2a; color: #184c7c;; overflow: hidden">
                  SUBMIT ORDER
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-app>
